body{
    margin: 5% 37%;
    font-family: serif;
}

img{
    width: 7em;
    height: 8em;
    border-radius: 50%;
    position: relative;
    margin-top: 20px;
}

h2,h3{
    margin: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-content: center;
    }



.div1{
    box-shadow: 10px 5px 5px rgba(132, 132, 132, 0.412);
    width: 400px;
    height: 520px;
    background-color: rgba(10, 126, 8, 0.734);
    border-radius: 10px;
    { grid-area: 1 / 1 / 2 / 3; }
    
}

.card-top {
    background-color: rgb(3, 65, 23);
    text-align: center;
    height: 25%;
    border-radius: 10px 10px 0px 0px;
}

.info {
    font-size: 23px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    { grid-area: 2 / 1 / 3 / 3; }
    
}

.quote {
    font-size: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
    { grid-area: 3 / 1 / 4 / 3; }
   
}

.contact{
    justify-content: center;
    { grid-area: 4 / 1 / 5 / 3; }
}
.contact img {
margin: 10px 25px;
width: 30px;
height: 30px;

}

